<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Kristallik</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    </head>
    <body>
        {% block main %}
        {% endblock %}
    </body>
</html>