{% extends 'base.html' %}
{% load static %}
{% block main %}
<div class="container">
    <div class="row">
        <div class="col align-self-center">
            <div class="pageimage-header">
                <h1>{{ foto.title }}</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="textImage">
                <p class="text-mutted">{{ foto.text }}</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="container1">
                <div class="imImage">
                    {% for f in foto.foto_set.all %}
                    <div class="OneIm">
                        <img src="/media/{{ f.foto }}">
                        <div class="descIm">
                            <p class="white">{{ f.description }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}