{% extends 'base.html' %}
{% block main %}
<div class="nav">
    <div class="container" >
        <div class="row">
            <div class="col-md-4">
                <h2>Навигация</h2>
                <div class="list-group">
                    {% for gal in gallerys %}
                    <a class='white' href="foto/{{ gal.pk }}">{{ gal.title }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}