
<footer>
    <div class="ftr">
        <p class="ftr">подвальчик, пока фз что тут будет:)</p>
        <p class="ftr">Наверное сделаю тут пару ссылок на сайты, чисто для себя) НП:</p>
        <a href="https://htmlacademy.ru">HTML Academy</a>
    </div>
</footer>
