{% extends 'blog/base.html' %}
{% load static %}
{% block main %}
         <div class="page-header">
             <div class="kristall">
                 <h1><a href="/">Kristallik</a></h1>
             </div>
             <div class="cons">
                 <div id="clock">
                     <div id="hour"><img src="{% static 'image/hours.png' %}"></div>
                     <div id="minute"><img src="/images/minutes"></div>
                     <div id="second"><img src="/images/seconds"></div>
                 </div>
                 <h1><a href="{% url 'blog:add_post' %}">Конст</a></h1>
             </div>
         </div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="nav">
                <div class="gabriola">
                    <p>Навигация</p>
                </div>
                <nav>
                    <div reversed type="I">
                        {% for post in posts reversed %}
                            <li><a href="post/{{ post.pk }}">{{ post.title }}</a></li>
                        {% endfor %}
                    </ol>
                </nav>
            </div>
        </div>
        <div class='col-md-8'>
            <div class="content">
                {% block content %}
                    {% for post in posts reversed %}
                         <div class="postli">
                             <div class="post">
                                 <h2><a href="post/{{ post.pk }}">{{ post.title }}</a></h2>
                                 <p>{{ post.txt }}</p>
                                 <p>Теги: {%if post.tags %}{{ post.tags }} {%else%} нетути {%endif%}</p>
                                 <p>Автор:{{ post.autor }}</p>
                                 <div class="date">
                                     <p>Дата Создания:{{ post.created_date }} Дата публикации: {{ post.published_date }}</p>
                                 </div>
                             </div>
                         </div>
                    {% endfor %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
<footer class="container">
    <div class="row">
        <div class="col align-self-end">
            {% include 'blog/footer.html' %}
            <p><a href="post/add_post/">Конст</a></p>
        </div>
    </div>
</footer>
{% endblock %}


