{% extends 'blog/base.html' %}
{% block main %}
         <div class="page-header">
             <h1><a href="/">{{ post.title }}</a></h1>
         </div>
<div class="content">
         <div class="post">
             <h2>{{ post.title }}</a></h2>
             <p>{{ post.txt }}</p>
             <p>Теги: {%if post.tags %}{{ post.tags }} {%else%} нетути {%endif%}</p>
             <p>Автор:{{ post.autor }}</p>
             <div class="date">
                 <p>Дата Создания:{{ post.created_date }} Дата публикации: {{ post.published_date }}</p>
             </div>
         </div>
</div>
{% endblock %}