{% load static %}
.page-header {
    background: linear-gradient(45deg, #1A1324, #6B14E6);
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.container1 {
    background: repeating-radial-gradient(circle, #856AAB, #4B1795 10px, #4B1795 10px, #4B1795 20px);
    padding: 25px;

}

.nav {
background: linear-gradient(to top, #3A225C 20%, #A488CC 50%, #3A225C 80%);
}

.postli {
    background: #A488CC;
}

.gabriola {
    font-size: 40px !important;
    font-family: 'gabriola';
}

.descIm {
    font-size: 20px;
    background: #3A225C;
    font-family: 'gabriola';
    display: none;
}

.OneIm {
    margin-top: 10px;
}

.OneIm:hover .descIm{
    display: block;
}

.back {
    background: #C5A4F2;
}

.kristall {
    background: url('../image/001.jpg')
}

#clock {
    position: relative;
    width: 378px;
    height: 378px;
    background: url{'image/ClockFace.jpg' } !important;
    left: 50%;
    margin: 5em 0 0 -189px;
}

#clock div {
    position: absolute;
}

#clock img[src*='hour'] {
    -webkit-transform: rotate(90deg);
}

#clock img[src*='hour'] {
    -webkit-transform: rotate(90deg);
}

#clock img[src*='second'] {
    -webkit-transition: -webkit-transform 600000s linear;
}

#clock:target img[src*='second'] {
    -webkit-transform: rotate(3600000deg);
}

#clock img[src*='minute'] {
    -webkit-transition: -webkit-transform 360000s linear;
}

#clock:target img[src*='minute'] {
    -webkit-transform: rotate(36000deg);
}

.cons {
    padding-left: 90%;
    font-size: 15px !important;
}

.imImage {
    background: radial-gradient(transparent, transparent 4px, white 4px,white);
    padding: 10px;
    background-size: 20px 20px;
    background-position: -10px -10px; /*обрезаем узор по краю*/
    margin: 0 auto;
}

img {
    width: 100%;
}

.ftr {
    color: #9C59D5 !important;
}

.pageimage-header {
    color: #B89BE1;
    padding: 20px 20px 20px 40px;
    background: linear-gradient(to right, #291A3F 20%, #291A3F 20%, #624192 80%, #624192 80%);

}

.textImage {
    background-color: #B89BE1;
    font-family: 'calibri';
    padding: 20px 20px 20px 60px;
}

.white {
    color: #FFF !important;
}

.nav {
    font-family: 'arial';
    color: #12120D;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;

}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
    margin-left: 40px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}
