.page-header {
    background-color: #119400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.footer {
    color: #9C59D5 !important;
}

.post {
    margin-bottom: 70px;
    margin-left: 40px;
}

.nav {
    background-color: #7E6F8B;
    font-family: 'arial';
    color: #12120D;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.content {
    margin-left: 40px;
}