<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Kristallik</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
         <div class="page-header">
             <h1><a href="/">Kristallik</a></h1>
             <h1 class="cons"><a href="{% url 'blog:add_post' %}">Конст</a></h1>
         </div>
        {% block main %}
        {% endblock %}
    </body>
</html>